<h1><strong><%= @company.name %></strong></h1>

<h4><%= link_to "All Jobs", company_jobs_path(@company) %> at this company:</h4>
<% @company.jobs.each do |job| %>
  <ul><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></ul>
<% end %>

<%= link_to "New Job", new_company_job_path(@company) %>

<%= render partial: 'companies/contact', collection: @company.contacts %>
<%= render partial: 'contacts/form' %>
